body{
    background: rgba(157, 203, 228, 0.2);
    font-family: 'Balsamiq Sans', cursive;
}
header{
    height: 155px;
    width: 1440px;
    margin: auto;
    display: flex;
    align-items: center;
}
.header{
    height: 155px;
    width: 1440px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-content{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
}
.timer-numbers{
    font-size: 48px;
}

.content1{
    display: flex;
    flex-direction:column;
    align-items: baseline; 
}
.header-contact{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}
.images{
    width:58px;
    margin-right: 10px;
}
.search-div{
    height: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#burgermenu{
    display: none;
    cursor: pointer;
}
.search{
    margin-top: 30px;
    width:340px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.search-button{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-right: 5px;
}
.search-input{
    background: rgba(157, 203, 228, 0.2);
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 70px;
    width: 303px;
    height: 32px;
}
.menu-button{
    font-size: 32px;
    margin-left: 10px;
    margin-right: 10px;
}
.main{
    margin:auto;
    width: 1440px;
}
.sale-text{
    width: 1440px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-size: 64px;
}
.yellow-alert3{
    top: 50px;
    position: relative;
    width: 427px;
    height: 105px;
    background: #FFCD24;
    box-shadow: 0px 4px 83px rgba(0, 0, 0, 0.25);
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}
.contact-box0{
    width: 1440px;
    display: flex;
    flex-direction: column;
    margin:auto;
    font-size:36px;
}
.contact-box{
    display: flex;
    flex-direction: column;
    margin:20px;
    font-size:36px;
}
.cotact-box-content{
    width: 600px;
    height: 544px;
    background: #666B6E;
    padding: 60px;
}
.contact{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
}
.contact p{
    margin-left: 20px;
}
.back-form{
    display: flex;
    flex-direction: column;
    background: #107DAD;
    padding: 60px;
    font-size:36px;
    color: #FFFFFF
}
.back-form input{
    width: 500px;
    height: 100px;
    font-size:36px;
}
.back-form textarea{
    width: 500px;
    height: 200px;
    font-size:36px;
}
textarea{
    resize: none;
}
.buttons{
    display: flex;
    flex-direction: column;
}
.form-button{
    font-size: 24px;
    height: 76px;
    background: #C4C4C4;
    transition: 2s;
}
.form-button:hover{
    color: white;
    background: #1A4968;
    border: solid #1A4968;
}
.box{
    width: 1440px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.footer-up{
    width: 1440px;
    margin: auto;
    background: #107DAD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.footer-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 24px;
    color: white;
}
.footer-text p{
    width: 390px;
    margin-left: 20px;
}
.footer-icons{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}
.footer-icons img{
    transition: 2s;
}
.footer-icons img:hover{
    transform: rotate(15deg);
}
.footer-end{
    width: 1440px;
    background: #0A6289;
    font-size: 48px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media all and (max-device-width: 800px){
.header{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
header{
    width: auto;
    
}
.content1{
    display: none;
}
.content2{
    display: none;
}
#burgermenu{
    display: block;
}
nav{
    display: none;
    justify-content: right;
    flex-direction: column;
    max-width: 350px;
    flex-wrap: wrap;
    position: fixed;
    top:10%;
    right:0;
    background-color: rgba(0, 0, 0, 0.25);
}
.main{
    width: auto;
}
.box{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.contact-box{
    display: flex;
    flex-direction: column;
    margin:0px;
    font-size:36px;
}
.cotact-box-content{
    width: auto;
    height: auto;
    background: #666B6E;
    padding: 60px;
}
.box2{
    width: auto;
    position: relative;
    top:-1px;
}
.back-form{
    width: auto;
    display: flex;
    flex-direction: column;
    background: #107DAD;
    padding: 60px;
    font-size:36px;
    color: #FFFFFF
}

.footer-up{
    width: auto;
}
.footer-text p{
    width: auto;
    margin-left: 20px;
}
.footer-end{
    width: auto;
}
}

@media all and (max-device-width: 600px){
    .header{
        width: 600px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .logo{
        display:none;
    }
    header{
        width: auto;
        
    }
    .content1{
        display: none;
    }
    .content2{
        display: none;
    }
    .search{
        display: flex;
        flex-direction: row-reverse;
    }
    .search-input{
        display: none;
    }
    #burgermenu{
        display: block;
    }
    nav{
        display: none;
    }
    .main{
        width: 600px;
    }
   

    .box{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .contact-box{
        display: flex;
        flex-direction: column;
        margin:0px;
        font-size:36px;
    }
    .cotact-box-content{
        width: auto;
        height: auto;
        background: #666B6E;
        padding: 60px;
    }
    .box2{
        width: auto;
        position: relative;
        top:-1px;
    }
    .back-form{
        width: auto;
        display: flex;
        flex-direction: column;
        background: #107DAD;
        padding: 60px;
        font-size:36px;
        color: #FFFFFF
    }
    
    .footer-logo{
       display: none;
    }
    .footer-up{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    .footer-icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-text p{
        width: auto;
        margin-left: 20px;
    }
    .footer-end{
        width: auto;
    }
    }